@media (max-width: 1300px) {
    .pages {
        &:hover {
            color: $blue;
            .pages__inner {
             height: 603px;
             overflow-x: scroll;
             width: 450px;
        }
        }        
        
    }
}

@media(max-width:1200px){
    .single-product__inner {
        flex-wrap: wrap;
    }
    .product__description {
        margin-top: 30px;
        max-width: 750px;
    }
    .product__description form button {
        width: 100%;
    }
    .blog .blog__inner .blog__wrapper {
        margin-right: 10px;  
        max-width: 600px;
    }
    .blog__images { 
        img {
            width: 600px;
        }
    }
    .blog .blog__inner .blog__wrapper .blog__images {
        min-height: 347px;     
    }
    .blog .blog__inner .aside-categories {
         
        margin-left: 10px;
    }

}

@media(max-width:1130px){
    .price-plan .price-plan__inner .price-plan__card {
        padding:20px;
        max-width: 300px;
         
    }
      .contact__box {
          max-width: 360px;
          width: 100%;
         padding: 40px 20px;

        & + .contact__box {
           margin-left: 10px;  
        }
    }
}
@media(max-width:1100px){
    
    .product-page .product-page__inner .product__item-inner-box {
        flex-basis: calc(50% - 30px);    
    }
    .filter-bar__btn.lnr-list {
        display: none;
    }
}


@media (max-width: 1020px) {
    .footer__inner {
        flex-wrap: wrap;
        .martplace {
            max-width: 100%;
            margin-bottom: 30px;
        }
        .footer__company,
        .footer__support {
            max-width: 50%;
            margin-bottom: 30px;
        }
        .footer__newsletter {
            max-width: 100%;
        }

    }
    .contact__inner .contact__box {
        
        padding: 40px 10px;
        
    }
    .contact__form {
        padding: 0 10px;
        padding-bottom: 60px;
    }

    .blog .blog__inner .blog__wrapper {
        
        max-width: 500px;
        margin-right: 10px;
    }
    .blog__images { 
        img {
            max-width: 500px;
            max-width: 100%;
            margin-right: 10px;
        }
    }
    .blog .blog__inner .blog__wrapper .blog__images {
        min-height: 250px;     
    }
    .blog .blog__inner .blog__wrapper .blog__box .blog__title {
        padding-left: 10px;
    }
    .blog .blog__inner .blog__wrapper .blog__box .blog__info {
        padding-left: 10px;
    }
    .blog .blog__inner .blog__wrapper .blog__box .blog__content {
        padding: 0 10px;
    }






}
@media (max-width: 970px) {
    .filter-bar__inner button {
        display: none;
    }
    .price-plan .price-plan__inner {
      flex-wrap: wrap;
      justify-content: center;
    }
    .price-plan .price-plan__inner .price-plan__card {
        margin-top: 10px;
        
       min-width: 300px;
        max-width: 51%;
    }
    .how-work__inner {
         flex-wrap: wrap;
    }
    .how-work__inner .how-work__box {
        order: -1;
        margin-bottom: 20px;
    }
}
@media (max-width: 920px) {
    .header__menu {
        .menu__btn {
            display: block;
            }
        }
        .pages__inner {
             
            left: 0;
            right: 0;
            top: 50px;
            
        }    
    .menu__list   {
        display: none;
        position: absolute;
        top: 181px;
        z-index: 1;
        border-radius: 10px;
         width: 90%;
         background-color: #fff;
        li {
               display: block;
               padding-left: 10px;
               
        }
        li + li {
            margin-left: 0;
        }
    }
    .all-product__dropdown,
       .home__dropdown,
       .wordpress__dropdown  
       {
        top:50px;
        left: 0;    
    }
    .product-page .product-page__inner .product__item-inner-box {
        flex-basis: calc(100% - 30px);    
    }
    .favorites-filter .favorites__found {
        line-height: 1;
    }
}




@media (max-width:800px) {
    .header__btn  {
        display: none;
    }
    .single-product__breadcrums .breadcrumbs__inner .breadcrumbs__title {
        font-size: 25px;       
    }
    .product-card__images img {
        width: 500px;
        height: 300px; 
    }

    .product__box {
        max-width: 500px;
    }
    .product-card__link a {
        width: 100%;
        margin-left: 0;
    }
    .product-card__link .lnr-heart {
        width: 100%;
        margin-top: 10px;
        margin-left: 0;   
    }
    .product-one__wrapper {
       
        flex-wrap: wrap;
    }
    .share {
        color: #000;
        width: 100%;
       margin-bottom: 10px;
        margin-left: 0;
    }
    .product-one__tabs.settings__tabs .tabs {
        flex-wrap: wrap;
    }
    .product-one__tabs.settings__tabs .tabs {
        max-width: 500px;
    }
    .product-one__tabs.settings__tabs .tabs span {  
        max-width: 100%;
        width: 100%;
    }
    .product-one__tabs.settings__tabs .page-box {
        max-width: 500px;
    }
    .product-one__tabs.settings__tabs .page-box__title {
        display: none;
    }
    .product-one__tabs.settings__tabs .page-box__images img {
        display: none;
    }
    .favorites-card .product__item-inner-box {
        margin-top: 30px;
        
    }
    .contact__form input {
        width: 300px;
        height: 50px;
        margin-right: 10px;    
    }
    .contact__form .form__row {
        flex-wrap: wrap;
    }

    .blog .blog__inner {
        flex-wrap: wrap;
    }
    .blog .blog__inner .aside-categories {
        order: -1;
        max-width: 80%;
        margin-left: 0;
    }
    
    .postr__title {
       text-align: left;
        
        button {
            margin-left: 0;
            width: 40%;
            text-align: left;
            & + button {
                text-align: right;
            }
             
        }
    }
    .blog .aside__blog .banner img, .blog .posts .banner img {
        width: 100%;
        margin-bottom: 20px;
        
    }
    .blog .blog__inner .blog__wrapper {
        max-width: 80%;
        margin-right: 0;
    }
    .blog .aside__blog .search__form.header__search input, .blog .posts .search__form.header__search input {
        min-width: 100%;
        height: 45px;
    }
    .product__description form {
        padding: 30px 10px 40px;
        color: #555;
    }







}
@media (max-width:730px) {
    .filter-bar__btn-box {
        display: none;
    }
    .favorites-filter .filter-bar__by {
        margin-left: 20px;
    }
    .favorites-filter .favorites__found {
        line-height: 1;
        width: 300px;
        width: 100%;
    }
}


@media (max-width:670px) {
    .product-page .product-page__inner {
        flex-wrap: wrap;
    }
    .contact__form input {
        width: 100%;
        margin-right: 0;    
    }
}
@media (max-width:650px) {
    .header__logo-text {
        font-size: 0;
    }
 
   .basket__box {
       margin-left: auto;
   }
   .login .login__inner .form__input input {
    max-width: 450px;
     
    width: 100%;
}
.login .login__inner .login__form {
    padding: 0 10px;
}
.login .login__inner .login__subtitle {
    padding-left: 10px;
    padding-right: 10px;
}
.login .login__inner .login__lost {
    padding: 0 10px;
}
.favorites-filter .filter-bar__by {
    
    display: none;
}
.contact__inner {
     flex-wrap: wrap;
     justify-content: center;
}
.contact__box {
 
   max-width: 100%;

  & + .contact__box {
     margin-left: 0;  
  }
}
.price-plan {
    background-color: #eff1f5;
    padding:50px 0;
}

}

@media (max-width: 560px) {
    .single-product__breadcrums .breadcrumbs__inner .breadcrumbs__title {
        font-size: 20px;       
    }
    .product-card__images img {
        max-width: 100%;
        height: 300px;
    }
    .product-social {  
        display: none;  
    }
    .product-one__tabs.settings__tabs .page-box__content {
        padding: 0;
    }
    .single-product__wrapper {
        margin-right:0px;
    }
    .product-one__tabs.settings__tabs .page-box {
        padding: 23px 19px 80px 30px;   
    }
    .product__description .prod-author .prod-author__link a + a {
        margin-left: 0;
      
    }
    select {
        
        margin-left: 10px;
    }
    .ready__title, .single-product__breadcrums__title {
     margin-bottom: 10px;
        line-height: 1;
        font-size: 20px;
    }
    .blog .blog__inner .blog__wrapper {
        max-width: 100%;
        margin-right: 0;
    }
    .blog .blog__inner .aside-categories {
       
        max-width: 100%;
        
    }
}


@media (max-width:500px) {
    .notification__box  {
        display: none;
    }
    .message__box {
        display: none;
    }
    .lnr-users{
        display: block;
    }
    .header__box {
        transform: translateX(200px);
        transition: all 0.5s;
    }
    .header__box.active {
        transform: translateX(-100px);
        transition: all 0.5s;
    }
    .header__search  {
        input {
            min-width: 300px;
        }   
    }

    .pages {
        &:hover {
            .pages__inner {
             
             width: 250px;
        }
        } 
    }       
   .terms .terms__inner {
        padding: 0 10px 100px;
    }
    .filter-bar__select {
        margin-left: 0;
    }

    .filter-bar {  
        padding: 10px 0;
        select{
         width: 100%;  
         margin-left: 0; 
        }
            select + select{
            margin-top: 10px;
            
            }
            
           
        }
        .filter-bar {
            padding: 6px 0;
        }


        .how-work__inner img {
            width:350px;
            height: 290px;
            object-fit: contain;  
            margin-right: 0;
        }
        .how-work__inner .how-work__box {
           
            text-align: center;
        }
        .how-work__inner {
            padding: 50px 0;
            
        }
        .page-404__inner img {
            margin-bottom: 50px;
            max-width: 100%;
        }

}
@media (max-width:440px) {
    
    .header__basket {
        display: none;
    }
    .header__user {
        margin-right: auto;
        margin-left: 10px;
    }
    .pagination {
         
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .pagination .pagination__list a, .pagination .pagination__list span {
         
        width: 36px;
        height: 36px;
        
    }
    .blog .aside__blog .posts .post__row, .blog .aside__blog .tags .post__row, .blog .posts .posts .post__row, .blog .posts .tags .post__row {
        padding: 15px 10px;
         
    }
     
    .postr__title button {
        margin-left: 0;
        width: 45%;
        text-align: left;
        padding-left: 0;
        font-size: 15px;
         
    }
    .postr__title button + button {
        text-align: right;
       
         
    }
    .blog .aside__blog .posts .post__row img, .blog .aside__blog .tags .post__row img, .blog .posts .posts .post__row img, .blog .posts .tags .post__row img {
        margin-right: 10px;
    }
    .blog .aside__blog .posts .postr__title.post__row button, .blog .aside__blog .tags .postr__title.post__row button, .blog .posts .posts .postr__title.post__row button, .blog .posts .tags .postr__title.post__row button {
        font-size: 16px;
        padding-bottom: 10px;
        margin-top: 10px;
        margin-left: 10px;
         
    }
   
}

@media (max-width:400px) { 
    .header__search  {
        input {
            min-width: 240px;
             max-width: 240px;
              
        }   
       
    }
    .footer__inner {
        .footer__newsletter {
           input{
               width: 280px;
           }
           button{   
            right: 80px;
            top: 0;
        }
            
        }
        .footer__newsletter .footer__social .footer__icon + .footer__icon {
            margin-left: 7px;
        }

    }
    .how-work__inner img {
        width:290px;
        height: 250px;
          
    }
    .rate-star.star1 { 
        margin-right: 0px;
        margin-left: 0;
         
    }
    .product__item-box {
        padding: 29px 10px 10px;
    }
    .blog .blog__inner .blog__wrapper .blog__images {
        min-height: 175px;
    }
    .blog .blog__inner .blog__wrapper .blog__box .blog__title a {
        font-size: 25px;
         
    }
    .blog .aside__blog .banner img, .blog .posts .banner img {
        width: 100%;
        height: 200px;
         
    }
}


@media (max-width:370px) {
    .header__logo.active {
        transform: translateX(-100px);
        transition: all 0.5s;
    }
    .header__logo {
        
        transition: all 0.5s;
    }
    .single-product__breadcrums .breadcrumbs__inner .breadcrumbs__title {
        font-size: 18px;       
    }
    .ready form {
        input{
            &::placeholder {
           font-size: 0;
       } 
        }
      
    }
    .pagination .pagination__list .lnr-arrow-left {
        margin-right: 15px;
    }

}
 