$text :#333333;
$input :#898f96;
$blue:#0674ec;
$title: #f3f3f8;
$bluegr:  #441c7c;
$grey: #676767;
$select: #555555;
$slider-bg: #eff1f5;
$purple:#7347c1;
$link-bg:#f1f3f6;
$cart: #0674ec;
$prod-bg: #f6f7fb;
$btn-text: #747b86;


@mixin triang {
    &::before {
        position: absolute;
        content: '';
        border: 8px solid transparent;
        border-right: 8px solid $cart;
        display: block;
        width: 0;
        height: 0;
        rotate: 90deg;
        top: -16px;
        right: 35px;
    }
    
}

@mixin notification-ico {
    &::before {
        position: absolute;
        font-family: 'Linearicons-Free';
        content: "\e813";
        width: 32px;
        height: 32px;
        background-color: rgba($color: #0674eb, $alpha: 0.1) ;
        border-radius: 50%;
        right: 22px;
        top: 32px;
        font-size: 15px;
        line-height: 28px;
        padding-top: 2px;
        padding-left: 8px;
        color: #0674eb;
    }
}